:root {
  --pink: #FF8888;
  --pinkLight: #FFCFE0;
  --gold: #FFC061;
  --brownDark: #413434;
}
html, body {
  font-family: 'Poppins', sans-serif;
  margin: 0;
}
h1 {
  font-size: 28px;
  outline: var(--brownDark);
}



.time-left {
  position: absolute;
  /* re-enable clicking */
  z-index: 100;
}