:root {
  --pink: #ff8888;
  --pinkLight: #ffcfe0;
  --pinkDark: #D06E6E;
  --gold: #ffc061;
  --brownDark: #413434;
  --border: 4px solid #fff;
}

html,
body {
  font-family: "Poppins", sans-serif;
  margin: 0;
  background-color: var(--pinkLight);
  box-sizing: border-box;
  height: 100vh;
  overflow: hidden;
}

.top-section {
  pointer-events: none;
  position: absolute;
  top: 0;
}

img {
  margin: 0;
}

p {
  margin: 0;
}

h1 {
  font-size: 28px;
  /* -webkit-text-stroke-width: 2px;
  -webkit-text-fill-color: var(--pink); 
  -webkit-text-stroke-color: #fff; */
  color: var(--pink);
  margin: 0;
  font-weight: 800;
  text-shadow: -2px 0 #fff, 0 2px #fff, 2px 0 #fff, 0 -2px #fff;
}

/* next up, score count */
h2 {
  font-size: 14px;
  color: #fff;
  margin: 0;
}

button {
  outline: none;
  border: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  font-weight: 800;
  width: 100%;
  font-size: 24px;
}

.main-button {
  border-radius: 20px;
  padding: 12px;
  background-color: var(--pink);
  border: 4px solid var(--pinkDark);
  display: flex;
  flex-direction: row;
  gap: 4px;
  font-size: 24px;
}

.main-button:hover {
  background-color: #ff9d9d;
  cursor: pointer;
  box-shadow: 4px 4px 0px var(--pinkDark);
}

/* disabeled state for main menu button */
.disable {
  background-color: #B2ABAB;
  border: 4px solid #938F8F;
  color: #ffffff6a;
}
.disable:hover {
  background-color: #c8c2c2;
  cursor: pointer;
  box-shadow: 4px 4px 0px #938F8F;
}

/* main content */
.top-section {
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 12px;
  align-items: flex-start;
  top: 0;
  height: calc(80vh - 12px);
  z-index: 1000;
  width: calc(100vw - 24px);
}

/* .static-ui-contain {
  display: grid;
  place-content: center;
  z-index: 200;
  height: 100%;
  position: absolute;
  width: 100vw;
  align-content: space-between;
} */
.inventory-contain {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-items: center;
  justify-content: center;
  gap: 12px;
  padding: 12px;
  position: absolute;
  bottom: 0;
  z-index: 1000;
  width: calc(100vw - 24px);
}

.inventory-slot {
  background-color: var(--pink);
  border-radius: 20px;
  padding: 20px;
  border: 4px solid #fff;
  width: 90px;
  height: 90px;
  place-content: center;
  display: grid;
  margin: 0;
}

.inventory-slot img {
  max-width: 40px;
}


.inventory-slot:hover img,
.inventory-slot .selected:hover img {
  transform: rotate(10deg);
  cursor: pointer;
  transform: scale(1.1);
}

/* top state nav */
.state-contain {
  display: flex;
  justify-content: space-between;
  width: 100%;
  /* box-sizing: border-box; */
}

.nextup-contain {
  background-color: var(--pink);
  border-radius: 18px;
  padding: 8px;
  width: fit-content;
  height: fit-content;
  display: grid;
  place-content: center;
  gap: 4px;
  align-items: center;
  justify-items: center;
}

.nextup-contain img {
  max-width: 40px;
}

.score-contain {
  display: grid;
  place-content: center;
  grid-template-columns: 1fr 1fr;
 background-color: #fff;
  border-radius: 100px;
  padding: 12px;
  height: fit-content;
  align-items: center;
  gap: 8px;
  height: 20px;
  width: 50px;
  align-items: center;
  justify-items: center;
  color: var(--gold);
}


.score-contain h2 {
  font-size: 24px;
  color: var(--pink);
}
/** score when cake added */
.success-score {
  /* background-color: var(--gold);
  border: 2px solid #FFC061; */
  animation: successScore 1s ease-in-out forwards;
}
.success-score h2{
  animation: successScore 1s ease-in-out forwards;
}
@keyframes successScore {
  0% {
    background-color: #fff;
    color: var(--pink);
  }
  50% {
    background-color: var(--gold);
  color: #fff;
  }
  100% {
    background-color: #fff;
    color: var(--pink);
  }
}

/** recipe items */
/* contain each individual recipe */
.recipe-section {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: flex-start;
}

/* current player inactive */

.recipe-contain {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  /* grid-template-columns: repeat(3, 1fr); */
  /* max-width: 50px; */
  /* align-items: flex-end;
  justify-items: end; */
}

.recipe-item {
  border: 4px solid #fff;
  width: 50px;
  border-radius: 20px;
  height: 50px;
  display: grid;
  place-content: center;
  position: relative;
}
/** final recipe goal */
.final-recipe-item {
  width: 50px;
  height: 50px;
  opacity: .5;
  border-radius: 22px;
  display: grid;
  place-content: center;
  position: relative;

  display: inline-block; 

}
.final-recipe-item img {
  display: block;
}
.final-recipe-success {
  animation: finalRecipeAnimate 1s ease-in-out forwards
}
@keyframes finalRecipeAnimate {
  0% {
    opacity: .5;
  }
  50% {
    border: 4px solid var(--gold);
    /* box-shadow: -4px 0 var(--gold), 0 4px var(--gold), 4px 0 var(--gold), 0 -4px var(--gold); */
    opacity: 1;
  }
  100% {
    opacity: .5;
  }
}
/* disabeled recipe item (ie not achevied yet by the CURRENT user) */
.disabled-recipe-item {
  opacity: .5;
}

.recipe-item img {
  max-width: 30px;
}

.check-contain {
  padding: 4px;
  border-radius: 100px;
  display: grid;
  place-content: center;
  background-color: #fff;
  color: var(--pink);
  position: absolute;
  margin-left: 10px;
  margin-top: -8px;
}

.check-contain i {
  width: 10px;
}

/* .final-recipe-item {
  border: var(--border);
  padding: 0;
  width: 60px;
  border-radius: 16px;
  height: 60px;
  overflow: hidden;
  background-color: #fff;
}
.final-recipe-item img {
 width: 100%;
} */
.recipe-contain-step {
  display: flex;
  justify-content: space-between;
  gap: 8px;
  align-items: center;
  flex-direction: column;
}

.recipe-contain-step img {
  max-height: 30px;

}

/* lines between recipe items in the recipe container */
.line-contain {
  display: flex;
  justify-content: space-between;
  gap: 4px;

}

.line {
  border-top: 6px solid #fff;
  height: 4px;
  margin-right: 27px;
}

/** lobby */
.lobby-contain {
  height: 100%;
  background-color: #413434bd;
  background-image: url(./assets/lobbyBackground.svg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  padding: 14px 12px 0 12px;

}

.lobby-content {
  gap: 32px;
  display: flex;
  flex-direction: column;
  padding: auto 22px;
  align-items: center;
}

.lobby-contain img {
  max-width: 100px;
}

/** loader when the other player is not ready */
.waiting-text-contain h2 {
  text-align: center;
  height: 1rem;
}

/**  store players */
.players-contain {
  display: flex;
  flex-direction: column;
  gap: 8px;
  padding: 16px;
  background-color: #fff;
  border: 6px solid var(--pink);
  border-radius: 36px;
}

.player-item {
  background-color: var(--pink);
  color: #fff;
  display: flex;
  flex-direction: row;
  gap: 8px;
  justify-content: flex-start;
  align-items: center;
  border-radius: 20px;
  padding: 12px 16px;
  max-width: 400px;
}

.player-item p {
  font-size: 14px;
}

/** checkmark to indicate "ready" button clicked */
.checkmark {
  border-radius: 100px;
  height: 30px;
  width: 30px;
  display: grid;
  place-content: center;
}

.player-item .right-contain {
  display: flex;
  flex-direction: column;
  /* gap: 4px; */
  align-items: flex-start;
  width: 100%;
}

.player-item h2 {
  font-size: 18px;
}

.user-type-contain {
  display: flex;
  flex-direction: row;
  gap: 4px;
  align-items: center;
  justify-content: flex-start;
}

.player-item .user-type-contain img {
  width: 20px;
  height: 20px;
  border: none;
}

.player-item img {
  width: 50px;
  height: 50px;
  border: 2px solid #fff;
  border-radius: 100px;
}


/* .current-player {
  background-color: var(--pink);
  color: #fff;
} */

/* current player checkmark is displayed when the user presses "im ready" */
.player-item .checkmark {
  background-color: #fff;
  color: var(--pink);
}

/** new player ie the other player */
.new-player {
  background-color: #fff;
  color: var(--pink);
}

/* checkmark for the new player is displayed only when the other player is ready*/
.new-player .checkmark {
  background-color: var(--pink);
  color: #fff;
}
.new-player h2 {
  color: var(--pink);
}

/* other player is not ready yet */
.new-player-not-ready {
  opacity: .5;
}

/* add player (ie "1 more player" in the mockup)*/
.play-item-empty {
  border: 4px dashed rgba(178, 171, 171, 0.50);
  color: rgba(178, 171, 171, 0.50);
  background-color: #fff;
  height: 50px;
}

.play-item-empty p {
  color: #B2ABAB;
}

.add-contain {
  background-color: #B2ABAB;
  color: #fff;
  width: 25px;
  height: 25px;
  display: grid;
  place-content: center;
  border-radius: 100px;
  gap: 12px;

}

/** feedback states */
.feedback {
  height: 100vh;
  width: 100vw;
  display: grid;
  place-content: center;
  background-color: none;
  font-size: 30px;
  pointer-events: none;
  position: absolute;
  z-index: 1000;
  /* forwards = animation stays in the state of the last animation instead of returning to the start */
  animation: Pop 2s forwards;
}
.feedback h1 {
  max-width: 60vw;
  align-items: center;
  justify-content: center;
  text-align: center;
}
/* repeated animation */

.encourage-animate h1{
  animation: encourageAnimate 2s infinite forwards,
}
.success {
  color: var(--gold);
  text-shadow: -2px 0 #fff, 0 2px #fff, 2px 0 #fff, 0 -2px #fff;
}

.failure {
  color: #FF4040;
  text-shadow: -2px 0 #fff, 0 2px #fff, 2px 0 #fff, 0 -2px #fff;
  font-size: 24px;
}

.encourage {
  color: var(--pink);
  text-shadow: -2px 0 #fff, 0 2px #fff, 2px 0 #fff, 0 -2px #fff;
}
/** waiting  */
.waiting-contain {
  height: 100vh;
  width: 100vw;
  display: grid;
  place-content: center;
  background-color: rgba(65, 52, 52, 0.60);
  z-index: 8000;
  position: absolute;
  top: 0;
  left: 0;
}
.waiting-contain h1 {
  text-align: center;
}
/** animations */
/* use for text feedback animation*/
@keyframes encourageAnimate {
  
  0% {
    transform: scale(1);

  }
  50% {
    transform: scale(1.3);

  }
  100% {
    transform: scale(1);
  
  }
}
@keyframes Pop {
  0% {
    transform: scale(0);
    opacity: 0;
  }

  30% {
    /* fade in */
    transform: scale(1.3);
    opacity: 1;
  }

  80% {
    /* fade in */
    transform: scale(1.3);
    opacity: 1;
  }

  100% {
    transform: scale(1);
    opacity: 0;
  }
}

/** tutorial page */
/* lobby section */
.tutorial-button {
  background-color: transparent;
  color: #fff;
  display: flex;
  flex-direction: row;
  gap: 8px;
  align-items: center;
  justify-content: center;
  font-size: 18px;
}

.icon-contain {
  background-color: #fff;
  color: var(--pink);
  font-size: 15px;
  display: grid;
  place-content: center;
  border-radius: 100px;
  height: 20px;
  width: 20px;
  /* border: 3px solid #fff; */
}

/* button .tutorial-button .icon-contain  {
  font-size: 5px;
} */
/** inner tutorial */
.tutorial-contain {
  height: 100vh;
  width: 100vw;
  background-color: #413434bd;
  background-image: url(./assets/tutorialBackground.svg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: absolute;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
  z-index: 2000;
  top: 0;
  left: 0;
  padding-top: 12px;
}

.tutorial-inner-contain {
  display: flex;
  gap: 16px;
  align-items: center;
  flex-direction: column;

}

.tutorial-page-contain {
  border: 6px solid var(--pink);
  background-color: #fff;
  border-radius: 36px;
  width: 70vw;
  padding: 22px;
  gap: 20px;
  display: flex;
  flex-direction: column;
}

/* general tutorial pages */
.top-contain {
  display: flex;
  flex-direction: row;
  gap: 8px;
  align-items: center;
  justify-content: flex-start;
}

.number-contain {
  background-color: var(--pink);
  border-radius: 100px;
  width: 36px;
  height: 22px;
  max-height: 22px;
  display: grid;
  place-content: center;
  color: #fff;
  font-size: 16px;
  margin: 0;
  padding: 4px;
}

.tutorial-page-contain img {
  max-width: 80vw;
  width: 100%;
  max-height: 70vw;
}

.tutorial-page-contain h1 {
  font-size: 20px;
  text-align: center;
  white-space: nowrap;
}

.tutorial-page-contain h2 {
  font-size: 18px;
  color: #938F8F;
}

.tutorial-page-contain h2 span {
  color: #555555;
}

/* first and last pages */
.top-content-contain {
  display: flex;
  flex-direction: row;
  gap: 8px;

}

.top-content-contain img {
  width: 30px;
}

.last p {
  font-size: 14px;
  color: #B2ABAB;
  font-weight: 800;
  margin: 0;
  text-align: center;
}

.last h2 {
  text-align: center;
}

/* when tutorial is closed */
.close-tutorial {
  display: none;
}

/* button to exit tutorial */
.exit-tutorial-button {
  background-color: #B2ABAB;
  border: 4px solid #938F8F;
  color: #fff;
  display: flex;
  flex-direction: row;
  gap: 8px;
  border-radius: 16px;
  padding: 12px 22px;
  font-size: 20px;

}

.exit-tutorial-button:hover {
  background-color: #c8c2c2;
  cursor: pointer;
  box-shadow: 4px 4px 0px #938F8F;
}

.exit-button-contain {
  width: 85vw;
  padding: 30px 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.buttons-contain {
  display: flex;
  flex-direction: row;
  gap: 36px;
  align-items: center;
  width: fit-content;
}

.back-button {
  height: 40px;
  width: 40px;
  display: grid;
  place-content: center;
  border-radius: 16px;
  padding: 22px;
  background-color: #B2ABAB;
  border: 4px solid #938F8F;
  color: #fff;
}

.forward-button {
  height: 40px;
  width: 40px;
  display: grid;
  place-content: center;
  border-radius: 16px;
  padding: 22px;
  background-color: var(--pink);
  border: 4px solid var(--pinkDark);
  color: #fff;
}
/** timer */
.success-time h1{
  animation: successTimeAnimate 1s ease-in-out forwards;
}
@keyframes successTimeAnimate {
  0%{
    color: var(--pink);
  }
  50%{
    color: var(--gold);
  }
  100%{
    color: var(--pink);
  }
}